@use "./_promoButton/button_promoButton.scss";
@use "./_mainButton/button_mainButton.scss";
@use "./_paddingButton/button_paddingButton.scss";
@use "./_mainWhiteButton/mainWhiteButton";

.button {
    position: relative;
    height: 55px;
    line-height: 15px;
    width: 100%;
}
