@use "/styles/variables" as variables;

.onePath {
    display: inline-block;
    margin-inline: 15px;

    &__Content {
        display: block;
    }

    &__navLink {
        height: 45px;
        color: variables.$grayColor;

        &:focus {
            color: white;
        }

        &:hover {
            color: white;
        }

        &:hover .onePath__navLinkIcon {
            visibility: visible;
            text-align: center;
            color: variables.$grayColor;
        }
    }

    &__navLinkIcon {
        display: block;
        visibility: hidden;
        text-align: center;
    }

    &__navLink_active {
        color: white;

        .onePath__navLinkIcon {
            visibility: visible;
            text-align: center;
            color: variables.$grayColor;
        }
    }
}
