@use "/styles/variables" as variables;

.onePath {
    display: inline-block;
    margin-inline: 15px;
}

.onePath__Content {
    display: block;
}

.onePath__navLink {
    height: 45px;
    color: variables.$grayColor;

    &:focus {
        color: white;
    }

    &:hover {
        color: white;
    }

    &:hover .onePath__navLinkIcon {
        visibility: visible;
        text-align: center;
        color: variables.$grayColor;
    }
}

.onePath__navLinkIcon {
    display: block;
    visibility: hidden;
    text-align: center;
}

.onePath__navLink_active {
    color: white;

    .onePath__navLinkIcon {
        visibility: visible;
        text-align: center;
        color: variables.$grayColor;
    }
}
