@use "/styles/variables" as variables;

.loginForm {
    display: block;
    position: relative;
    width: 100%;

    & > div:not(:first-child) {
        margin-top: 20px;
    }

    & > :last-child {
        margin-top: 20px;
    }
}
