.onePath {
    display: inline-block;
    margin-inline: 15px;
    /* height: 40px; */
}

.onePath__navLink {
    color: white;
}

.onePath__navLink:hover {
    text-decoration: none;
    font-weight: bold;
}