.navigationImageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 20px;
    width: 100%;
}

.navigationImageContainer {
    display: flex;
    flex-direction: row;
}
