.skipMenu {
    position: absolute;
    left: -5000px;
    top: -5000px;
    z-index: -9999;
    color: black;
    background-color: white;
    padding: 10px;

    &:focus {
        left: 200px;
        top: 0px;
        z-index: 1000;
    }
}
