$grayColor: rgb(230, 230, 230);

$mainBlackColor: #2c2c2c;
$hoverBlackColor: #111111;

$mainWhiteColor: #fbfbfb;
$hoverWhiteColor: #ffffff;

$lightGray: #a8a8a8;

$fontSize: 14px;
$largeFontSize: 18px;
