.iconCircle {
    display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #BBBBBB;

    &:hover {
        border-color: rgb(238, 238, 238);

        >.iconSearch {
            fill: rgb(238, 238, 238);
        }
    }
}