@use "/styles/variables" as variables;

$mainColor: variables.$mainBlackColor;
$hoverColor: variables.$hoverBlackColor;

$headerHeight: 120px;

%menuContainer {
    height: 100%;
    padding-top: 10px;
    background-image: linear-gradient(180deg, $mainColor, transparent);
}

@mixin animationBackground($animationProp: none) {
    background-color: $hoverColor;
    background-image: none;
    animation: $animationProp;
}

@keyframes example {
    from {
        background-color: $mainColor;
    }

    to {
        background-image: linear-gradient(180deg, $mainColor, transparent);
    }
}

.headerMenuTransparent {
    height: unset;
}

.headerMenu {
    height: $headerHeight;
    position: fixed;
    width: 100%;
    z-index: 100;
}

.menuContainer__expanded {
    @extend %menuContainer;

    animation-name: example;
    animation-duration: 1s;

    &:hover {
        @include animationBackground($animationProp: unset);
    }
}

.menuContainer__hidden {
    @extend %menuContainer;

    background-color: $mainColor;
    // transition: background-color 0.5s ease-out;

    &:hover {
        @include animationBackground;
    }
}
