@use "/styles/variables" as variables;

.ulColumn {
    font-size: 14px;
    color: variables.$lightGray;
    margin-top: 20px;

    &__onePath:nth-child(n):hover {
        text-decoration: none;
        color: white;
    }
}
