.controlContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 75px;
}

.filterContainer {
    position: sticky;
    left: 0;
    top: 120px;
    background-color: white;
    height: 100%;
    z-index: 1;
}

.searchContainer {
    height: 75px;
}

.itemsContainer {
    display: grid;
    grid-template-columns: auto auto;
    gap: 3px;
}

.oneImage {
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .itemsContainer {
        grid-template-columns: auto auto auto;
    }
}
@media screen and (min-width: 1024px) {
    .itemsContainer {
        grid-template-columns: auto auto auto auto;
    }
}
