
.subMenuContainer {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;

    display: flex;
    justify-content: space-evenly;

    padding-top: 20px;
    padding-bottom: 40px;

    height: 100%;
    width: 97%;

    opacity: 0.95;
}
.subMenuContainer_Hidden {
    display: none;
}
.subMenuContainer_Active {
    display: flex;
}

.subMenuBackGround {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    height: 100%;
    width: 100%;
    background-color: white;
    opacity: 0.95;
}


.subMenu__Header {
    font-weight: bold;
}



.onePath {
    display: inline-block;
    margin-inline: 15px;
}

.onePath__navList {
    display: flex;
    flex-direction: column;
}
