
.subMenuContainer {
    position: absolute;
    left: 0;
    right: 0;

    padding: 20px 1rem 0px 1rem;
    width: 100%;
    opacity: 0.95;
}
.subMenuContainer_Hidden {
    display: none;
}
.subMenuContainer_Active {
    display: flex;
}

.subMenuBackGround {
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 45px;
    height: 100%;
    width: 100%;
    background-color: white;
}


.subMenu__Header {
    font-weight: bold;
}



.onePath {
    display: inline-block;
    margin-inline: 15px;
}

.onePath__navList {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}
