$mainColor: #2c2c2c;
$hoverColor: #111111;

@keyframes example {
    from { background-color: $hoverColor; }
    to { background-color: $mainColor; }
}

.footerContainer {
    display: flex;
    justify-content: space-around;
    background-color: $mainColor;
    color: white;

    padding-top: 50px;
    padding-bottom: 75px;

    animation-name: example;
    animation-duration: 1s;

    &:hover {
        background-color: $hoverColor;
        animation: unset;
    }
}
