.oneColumn {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    line-height: 30px;

    &__onePath {
        display: inline-block;
        margin-inline: 15px;
    }

    &__button:hover {
        color: black;
    }
}

