.mySelect {
    position: relative;
    &__button {
        min-width: 100px;
        height: 40px;
        border: 1px black solid;
    }
}

.selectContainer {
    position: absolute;
    right: 0px;
    border: 1px solid gray;
    min-width: 200px;
    z-index: 1;
    background-color: white;

    &__item {
        display: flex;
        align-items: center;
        text-align: center;
        cursor: pointer;
        height: 40px;

        &:first-of-type {
            background-color: rgb(224, 224, 224);
        }

        &:not(:last-of-type) {
            border-bottom: 1px solid lightgray;
        }

        &:hover {
            background-color: rgb(216, 216, 216);
        }
    }

    &__button {
        height: 100%;
        width: 100%;
        text-align: start;
    }
}
