.loginContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
    max-width: 450px;

    &__link {
        width: 100%;
        margin-bottom: 20px;
    }

    &__icon {
        position: absolute;
        top: 12px;
    }
}
