.menuHeader {
    position: fixed;
    width: 100%;
    background-color: #2c2c2c;
    z-index: 100;
}

.menuHeader:hover {
    background-color: #111111;
    background-image: none;
}

.menuNav {
    /* padding-left: 20px;
    padding-right: 20px; */
}

@media screen and (max-width: 600px) {
    .menuNav {
        padding-left: 15px;
        padding-right: 15px;
    }
}

.logo {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.a {
    color: white;
}

.menuContainer {
    display: block;
    
    /* border: 1px solid black; */
    /* background-color: beige; */

    margin-top: 10px;
}

.menuMain {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menuMain__left {
    margin-left: 20px;
}
.menuMain__right {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.menuMain__button {
    color: rgb(230, 230, 230);
    margin-right: 20px;
}

.menuMain__button:hover {
    color: white
}

.menuLinks {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 25px;
}

.onePath {
    display: inline-block;
    margin-inline: 15px;
}


.onePath__navList {
    display: none;
}

.onePath:hover .onePath__navList {
    display: block;
    padding: 5px 20px;

    position: absolute;

    border: 1px solid black;
    background-color: white;
    width: 270px;
}

.onePath__navItem {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.onePath__navItem:nth-last-child(1) {
    border-top: 1px solid #ebebeb;;
}

.onePath__navLink:hover {
    text-decoration: none;
    font-weight: bold;
}

.iconCircle {
    display: inline-block;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    border: 2px solid #BBBBBB;
}

.iconCircle:hover .iconSearch{
    fill: rgb(238, 238, 238);
}

.iconCircle:hover {
    border-color: rgb(238, 238, 238);
}