@use "/styles/variables" as variables;

$lightGray: variables.$lightGray;

.filterContainer {
    position: sticky;
    left: 0;
    top: 120px;
    background-color: white;
    height: 100%;
    z-index: 1;

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 75px;
        border-bottom: 1px solid $lightGray;
    }
}
